body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(img/sobre);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc; /* outras alternativas seriam dashed, dotted, double, groove. */ 
    text-align: center; /* outras alternativas seriam left, right e justify. */
    padding: 15px;/* Pode ser padding, padding top, padding right, padding botton, padding left */
    margin: 30px; /* Igual regras do padding. 15px - aplica pra todos, 15 20px aplica pra cima baixo, para esquerda e direit, mais de dois valores, aplica sentido horario*/
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;

}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.sacola {
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}

.destaque {
    margin-top: 10px;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.mais-vendidos {
    float: right;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;
    float: left;
}

.mais-vendidos {
    background-color: #dcdcf5;
    float: right;
}

/* sistema de cores RGB
h3 {
    color: rgb(255, 200, 0);
}

sistema de cores hexadecimal
h3 {
    background: %F2EDED;
}
*/ 

